
@{
    ViewBag.Title = "Skills";
}

<h2>Skills</h2><br/>

<ul>
    <li>Client Side Skill - @ViewBag.ClentSideSkill</li>
    <li>Sever Side Skill - @ViewBag.ServerSideSkill</li>
    <li>DataBase SKill - @ViewBag.DataBaseSideSkill</li>
</ul>

